body
{
    background-color: #fd7272;
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif; 
}

.container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
}

div.form-group
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#numb
{
    margin:22px 15px;
    height:50px;
    font-size: 20px;
}

#heading
{
    font-size: 40px; 
    margin-top: 20px;
    font-weight: bold;
}

#check
{
    margin: 22px 7px;
}

#result, #alert
{
    margin: 0px 8px 36px;
    font-size: 20px;
}

#alert
{
    height: 200px;
}

#sum, #average, #product
{
    margin: 0 5px;
    font-size: 16px;
    align-items: center;
}

#clear
{
    margin: 23px auto;
    display: inline-block;
    min-width: 311px ; 
    max-width: 218px ;
    font-weight: bold;
}


.buttons
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.fas
{
    font-size: 20px;
    color: #fd7272;
}
